*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace
}

.wrapper{
    width: 1170px;
    margin: auto;
}

header{
    background:  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("image/home.jpg");
   height: 100vh;
   -webkit-background-size:cover;
   background-size: cover;
   background-position: center center;
   position: relative; 
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 19px;
}
.nav-area li a:hover{
    border-radius: 6px ;
    background: #fff;
    color: #333;
}

.aplogo img{
    margin-top: 10px;
    margin-right: 400px;
    width: 160px;
    border-radius: 17px;
    float: left;
    height: auto;

}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}

.welcome-text h1{
   text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
}
